@model CommonCardLibrary.TableViewModel
  @using (Html.BeginForm("Current", "Table", FormMethod.Post, new { id = "subForm", tableId = Model.Id}))
  {
      @Html.HiddenFor(x => x.Id);
      <table class="table">
          <tr>
              <th>
                  Position
              </th>
              <th>
                  Chips
              </th>
              <th></th>
          </tr>

          @foreach (var player in Model.Players)
          {
              <tr>
                  @foreach (var card in player.Cards)
                  {
                      <td>
                          @Html.Partial("Card", card)
                      </td>
                  }
              </tr>
          }

      </table>
      <div class="btn-group" role="group">
          <button type="submit" class="btn btn-default" name="Command" value="Check">Check</button>
          <button type="submit" class="btn btn-default" name="Command" value="Bet">Bet</button>
          <button type="submit" class="btn btn-default" name="Command" value="Fold">Fold</button>
      </div>
      <table>
          <tr>
              @foreach (var card in Model.Cards)
              {
                  <td>
                      @Html.Partial("Card", card)
                  </td>
              }
          </tr>
      </table>

      <div>
          <img class="card" src="@Url.Content("~/Content/Images/back.png")" />
      </div>
  }