@model CommonCardLibrary.TableViewModel



@using (Html.BeginForm())
{
    <div></div>
    @Html.AntiForgeryToken();
    @Html.Partial("CurrentTable", Model);
}
@section scripts
{
    <script type="text/javascript">
        @if (Model.Players.Count > 4)
        {
            @:$(".card").height(105).width(125);
                    @:$(".current-hand").attr("style", "top:87px");
                    @:$(".board").attr("style", "margin-top:155px; margin-bottom:20px;")
                    @:$(".card-container:last").attr("style", "margin-bottom:140px");
                }

    </script>

}
